page-no-of-participant {

    .cart{

    color: #fff;
    font-size: 45px;
    position: absolute;
    top: 7px;
    right: 55px;
    }
   
    .ni-button{
        height: 43px;
        width: 47%;
        margin: 1%;
        border-radius: 0px;
        display: inline-block;
        
    }
    .ni-btn{
        
        margin-top: 5px;
    }
    .btn-container{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom:55px;
    
    }
}
