page-result {
    h6{
        color: #4a90e2;
    font-weight: 600;
    margin-top: 2px;
    text-align: center;
   
    }
    .content-section{
        background: $grey1;
        height: auto;
        margin: 10px;
        border: 1px solid #c9c9c9;
        margin-top: 30px;
    }
  
    .col{
        margin: -10px;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .coll{
        margin:-35px;
    }
    .imgg{
        margin-top:45px;
    }
   
  
}
