page-nomprofile {
    .text1{
        margin-left: 10px;
       color: #4a90e2;
      
       font-weight: 600;
       margin: 10px;
      
}
.input-back
{
 
    height: auto;
    min-height: 80px;
    margin: 18px;
    width: 89%;
    padding-left: 10px;
    padding-top: 1px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}
.input-back p {

    width: 97%;

}
}
