page-resultnom {
    span{
        color: #4a90e2;
    font-weight: 600;
    margin-top: 2px;
    text-align: center;
    font-size: 18PX;
   
    }
    h6{
        color: #4a90e2;
    font-weight: 600;
    margin-top: 2px;
    text-align: center;
    }
    
    .col{
        margin: -10px;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .coll{
        margin:-65px;
    }
    .imgg{
        margin-top:0px;
    }
   
  
}